.card {
  height: 140px;
  width: 140px;
  margin: 1px;
}

.card-img-top {
  width: 90%;
  height: 80%;
}

.avatar-gallery {
  display: flex;
  flex-flow: wrap;
  /* justify-content: center; */
  flex-wrap: wrap;
}

.login-name {
  text-align: center;
}

.git-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
